groups:
- name: node memory rules
  interval: 10s
  rules:
  - alert: instance:node_memory:>60%
    expr: (1 - (node_memory_MemAvailable_bytes{} / (node_memory_MemTotal_bytes{})))*100 > 60
    labels:
      metric_type: demo_alert
